@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic);
@import url(https://fonts.googleapis.com/css?family=Bad+Script);

body {
  font-family: 'Open Sans', sans-serif;
  color: #222;
  font-weight: 400;
  font-size: 16px;
}

#container {
  width: 770px;
  margin: 0 auto;
}

#mainheader {
  font-family: 'Bad Script', cursive;
  font-weight: 700;
  margin-bottom: 7px;
  font-size: 50px;
  color: #13BDE5;
  text-align: center;
}

#mainheader a {
  text-decoration: none;
  color: #13BDE5;
}
#mainnav ul {
  list-style: none;
  padding-left: 0;
  width: 316px;
  margin: 0 auto 20px auto;
}

#mainnav li {
  display: inline-block;
  width: 140px;
  text-align: center;
}

#mainnav a {
  text-decoration: none;
  color: #4A4C4C;
}

#mainnav a:hover {
  color: #B4B5B5;
}
a{
  color: #AA3BF2;
}

 }
a:visited {
  text-decoration:none;
}

#home h2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  margin-bottom: 0px;
  font-size: 30px;
  color: #000000;
}

#projectlink {
  color:#13BDE5;
}
#images {
  width: 750px;
}

#images img{
  width:250px;
  padding:0;
  display: block;
  float: left;
}

#resume h2, h3, {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}

#resume h2 {
  color: #13BDE5;
}
#resume p {
  line-height: 0.5;
}

#resume h3{
  padding: 0px;
  margin: 0px;
}

#resume h4 {
  padding: 0px;
  margin: 0px;
}

#resume li {
  line-height: 1.5;
}

#resume ol, ul,
li {
  list-style-type: circle;
}

#resume dt {
  text-decoration: underline;
}

#resume nav {
  text-decoration: underline;
}

#video {
  width: 790px;
}

#video h2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  margin-bottom: 0px;
  font-size: 30px;
  color: #000000;
}

#video h3 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  color: #13BDE5;
}

#video p {
  width: 560px;
}

#projects h2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  margin-bottom: 0px;
  font-size: 30px;
  color: #000000;
}
#projects h3{
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  color: #13BDE5;
}

.photos {
  width: 770px;
  overflow: auto;
}

.india {
  width: 250px;
  display: inline-block;
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}

img:nth-child(3n).india {
  margin-right: 0;
}

#contacttext {
  float: right;
  padding-right: 200px;
}
